body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2f8297;
}

#code-editor {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 5px;
}

#code-input {
    width: 100%;
    height: 200px;
    font-size: 16px;
    margin-bottom: 10px;
}

#save-code-button, #load-code-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#save-code-button:hover, #load-code-button:hover {
    background-color: #2980b9;
}

#cashier-interface {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#item-list {
    margin-bottom: 20px;
}

#item-list ul {
    list-style: none;
    padding: 0;
}

#item-list ul li {
    margin-bottom: 5px;
}

#total-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quick-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.quick-button:hover {
    background-color: #2980b9;
}

#control-buttons {
    margin-top: 20px;
}

#clear-all-button, #remove-last-order-button {
    background-color: #E74C3C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

#clear-all-button:hover, #remove-last-order-button:hover {
    background-color: #C0392B;
}
