#cashier-interface {
    text-align: center;
    padding: 20px;
}

#item-list {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-height: 200px;
    overflow-y: auto;
}

#total-price {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    margin: 10px;
}
